<template>
  <div class="homepage">
    <!-- ':keys = ... + 1000' prevents duplicate keys with other posts after StoryCarousel -->
    <PostComponent
      v-for="post of postsFirstPart"
      :key="postsFirstPart.indexOf(post) + 1000"
      :post="post"
    />
    <StoryCarousel style="margin-top: 1.1rem"/>
    <PostComponent
      v-for="post of postsSecondPart"
      :key="postsSecondPart.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>
  </div>
</template>

<script>
import utils from "../../utils";
import CommonFunctions from "../utils/CommonFunctions.js";
import PostComponent from "../components/page-components/PostComponent.vue";
import PostYoutube from "../components/page-components/PostYoutube.vue";
import {fetchHomePageData} from "../../utils/commonFunctions"
export default {
  components: {
    PostComponent,
    PostYoutube,
  },
  data() {},
  async asyncData({ app, $services, $links }) {
    var i18n = app.i18n;
    var {
      nodeIncomeDaily,
      nodeIncomeDailyUSD,
      nodeIncomeYearlyUSD,
      nodeTweetText,
      nodeTweetDate,
      nodesAPY,
      lpAPY,
      activeNodeCount,
      standbyNodeCount,
      totalPooledUsd,
      totalCapitalUsd,
      totalBondedUsd, 
      volume24h,
      tx24h,
      users24h,
      runeLocked,
      MCCN
    } = await fetchHomePageData($services);

    var tableNumberStyle = `
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem ;
    line-height: 1.125rem ;
    text-align: right;
    letter-spacing: 0rem ;

    color: #D1D5DA;
    `;
    return {
      postsFirstPart: [
        {
          thread: false,
          header: {
            text: i18n.t("homePageMobile.explainer.title"),
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("homePage.mainTitle.text").join(" ")],
            },
            {
              type: "image",
              image: require("~/assets/images/home-page/thorchain-explainer-card.svg"),
              // link: $links('youtube_thorchain_explainer_video'),
              link: true,
              isYoutube: true,
              videoId: "VEqHk12eHUA",
              linkHeader: i18n.t("homePage.mainTitle.butsir"),
              linkCaption: i18n.t("homePageMobile.explainer.butSirSubtitle"),
              linkStyle:
                "background-color: #F3BA2F; color: #000B12; border: none",
              linkCaptionStyle: "color: #000B12",
            },
          ],
          endLine: true,
        },
      ],
      postsSecondPart: [
        {
          thread: false,
          header: {
            text: i18n.t("homePage.versionCard.num"),
            avatar: require("~/assets/images/home-page/avatar-version.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("homePage.versionCard.text").join(" ")],
            },
            {
              type: "text-link",
              text: i18n.t("homePageMobile.version.link"),
              link: $links("medium_v02"),
              style: "color: #23DCC8",
            },
          ],
          endLine: true,
        },
        // {
        //   thread: true,
        //   header: {
        //     text: i18n.t("homePageMobile.switch.title"),
        //     avatar: require("~/assets/images/home-page/avatar-switch.svg"),
        //   },
        //   layers: [
        //     { type: "text", text: [i18n.t("homePageMobile.switch.text")] },
        //     {
        //       type: "image",
        //       image: require("~/assets/images/home-page/switch-card.svg"),
        //       link: $links('runebridge'),
        //       linkHeader: i18n.t("homePageMobile.switch.linkTitle"),
        //       linkCaption: i18n.t("homePageMobile.switch.linkSubtitle"),
        //     },
        //   ],
        //   endLine: false,
        // },
        // {
        //   thread: true,
        //   header: {
        //     avatar: require("~/assets/images/home-page/avatar-switch.svg"),
        //   },
        //   layers: [
        //     { type: "text", text: [i18n.t("homePageMobile.switch.text2")] },
        //     {
        //       type: "image",
        //       image: require("~/assets/images/home-page/sushi-card.svg"),
        //       link: $links('runebridge_pools'),
        //       linkHeader: i18n.t("homePageMobile.switch.link2Title"),
        //       linkCaption: i18n.t("homePageMobile.switch.link2Subtitle"),
        //     },
        //   ],
        //   endLine: false,
        // },
        {
          thread: false,
          header: {
            text: i18n.t("homePage.interfacesCard.title"),
            avatar: require("~/assets/images/home-page/avatar-interfaces.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("homePage.interfacesCard.text")] },
            {type: 'table-links', links: [
              {text: i18n.t("homePage.interfacesCard.links[0]"), link: $links('skip_web')},
              {text: i18n.t("homePage.interfacesCard.links[1]"), link: $links('asgardex_electron')},
              {text: i18n.t("homePage.interfacesCard.links[2]"), link: $links('asgardex_web')},
              {text: i18n.t("homePage.interfacesCard.links[3]"), link: $links('thorswap_web')},
            ]}
          ],
          endLine: true,
        },
        {
          thread: false,
          header: {
            text: i18n.t("homePage.butsirIntro.heading"),
            avatar: require("~/assets/images/home-page/avatar-butsir-intro.svg"),
            style: "color: #F3BA2F",
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("homePage.butsirIntro.text").join(" ")],
            },
          ],
          endLine: true,
        },
        {
          thread: true,
          header: {
            text: i18n.t("homePageMobile.rune.title"),
            avatar: require("~/assets/images/home-page/avatar-rune.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("homePageMobile.rune.text")] },
            {
              type: "image",
              image: require("~/assets/images/home-page/rune-card.svg"),
              link: { localLink: true, link: "/rune" },
              linkHeader: i18n.t("homePageMobile.rune.linkTitle"),
              linkCaption: i18n.t("homePageMobile.rune.linkSubtitle"),
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-rune.svg"),
          },
          layers: [
            {
              type: "text",
              text: [
                i18n
                  .t("homePageMobile.rune.text2")[0]
                  .replace("$NUMBER", runeLocked + MCCN.runeLocked),
                i18n.t("homePageMobile.rune.text2")[1],
              ],
            },
            {
              type: "text-card",
              content: [
                { text: runeLocked },
                { text: "% SCCN", style: "font-size: 2.5rem", nextLine: true },  
                { text: MCCN.runeLocked },
                { text: "% MCCN", style: "font-size: 2.5rem" },
              ],
              style: `
        background-color: #23DCC8;
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 4.5rem ;
        letter-spacing: -0.0625rem ;
        line-height: 3.8rem;
        color: #000B12;
        `,
              link: { localLink: true, link: "/rune#what-influences-it" },
              linkHeader: i18n.t("homePageMobile.rune.link2Title"),
              linkCaption: i18n.t("homePageMobile.rune.link2Subtitle"),
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-rune.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("homePageMobile.rune.text3")] },
            {
              type: "image",
              image: require("~/assets/images/home-page/all-tvl-card.svg"),
              link: $links("thorchain_community"),
              linkHeader: i18n.t("homePageMobile.rune.link3Title"),
              linkCaption: i18n.t("homePageMobile.rune.link3Subtitle"),
            },
          ],
          endLine: false,
        },
        {
          thread: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-rune.svg"),
          },
          layers: [
            { type: "text", text: [i18n.t("homePageMobile.rune.text4")] },
            {
              type: "table",
              table: {
                rows: await CommonFunctions.getCoingeckoTable(
                  $services,
                  $links
                ),
              },
            },
          ],
          endLine: true,
        },
        {
          thread: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-mehow-brains.png"),
            text: i18n.t("homePage.apyCard.lpCardTitle[0]"),
            usernameAndDate: i18n.t("homePage.apyCard.lpCardTitle[1]"),
          },
          layers: [
            { type: "text", text: i18n.t("homePage.apyCard.lpCardText") },
            {
              type: "text-card",
              content: [
                { text: lpAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
                { text: MCCN.lpAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", 
                tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
              ],
              style: `
        background-image: url('${require("~/assets/images/home-page/lp-apy-card.png")}');
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 4.5rem;
        line-height: 3.8rem;
        text-align: center;
        letter-spacing: -0.0625rem ; 
        color: #FFFFFF;
        `,

              link: $links("medium_liquidity_pooling"),
              linkHeader: i18n.t("homePage.apyCard.lpAPYBtn"),
              linkCaption: i18n.t("homePageMobile.apy.lpCardImageSubtitle"),
            },
          ],
        },
        {
          thread: false,
          small: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-mehow-brains.png"),
          },
          layers: [
            {
              type: "text-link",
              text: i18n.t("homePage.apyCard.lpCardContinueLink"),
              link: $links("twitter_show_this_thread"),
              style: "color: #1b92da",
            },
          ],
          endLine: true,
        },
        {
          thread: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-rune-ranger.png"),
            text: i18n.t("homePage.apyCard.nodeCardTitle[0]"),
            usernameAndDate: i18n.t("homePage.apyCard.nodeCardTitle[1]"),
          },
          layers: [
            {
              type: "text",
              text: [
                i18n
                  .t("homePage.apyCard.nodeCardText[0]")
                  .replace("^RUNE_PER_DAY", nodeIncomeDaily)
                  .replace("^USD_PER_DAY", nodeIncomeDailyUSD),
                i18n
                  .t("homePage.apyCard.nodeCardText[1]")
                  .replace("^USD_PER_YEAR", nodeIncomeYearlyUSD),
                i18n.t("homePage.apyCard.nodeCardText[2]"),
              ],
            },
            {
              type: "text-card",
              content: [
                { text: nodesAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
                { text: MCCN.nodesAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", 
                tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },         
              ],
              style: `
        background-image: url('${require("~/assets/images/home-page/node-apy-card.png")}');
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 4.5rem;
        line-height: 3.8rem;
        text-align: center;

        letter-spacing: -0.0625rem ; 
        color: #FFFFFF;
        `,
              link: $links("medium_liquidity_pooling"),
              linkHeader: i18n.t("homePage.apyCard.nodeAPYBtn"),
              linkCaption: i18n.t("homePageMobile.apy.nodeCardImageSubtitle"),
            },
          ],
        },
        {
          thread: false,
          small: true,
          header: {
            avatar: require("~/assets/images/home-page/avatar-rune-ranger.png"),
          },
          layers: [
            {
              type: "text-link",
              text: i18n.t("homePage.apyCard.nodeCardContinueLink"),
              link: $links("twitter_show_this_tweet"),
              style: "color: #1b92da",
            },
          ],
          endLine: true,
        },
        {
          thread: true,
          header: {
            text: "Nodes",
            avatar: require("~/assets/images/home-page/avatar-node-stats.svg"),
          },
          layers: [
            {
              type: "text",
              text: [
                i18n
                  .t("homePageMobile.nodesStats.mainText")
                  .replace("^ACTIVE_COUNT", MCCN.activeNodeCount)
                  .replace("^STANDBY_COUNT", MCCN.standbyNodeCount),
              ],
            },
            {
              type: "text-card",
              content: [
                { text: activeNodeCount },
                { text: "ACTIVE", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" }, 
                { text: MCCN.activeNodeCount },
                { text: "ACTIVE", style: "font-size: 2.5rem; position:relative", 
                tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },        
              ],
              style: `
            background-color: #32CD32;
            font-family: "Exo 2";
            font-style: italic;
            font-weight: 800;
            font-size: 4.5rem ;
            line-height: 3.8rem;

            letter-spacing: -0.0625rem ;
            color: #000B12;
            `,
              link: $links("twitter_scale_nodes"),
              linkHeader: i18n.t("homePageMobile.nodesStats.activeCardTitle"),
              linkCaption: i18n.t(
                "homePageMobile.nodesStats.activeCardSubtitle"
              ),
            },
          ],
        },
        {
          thread: false,
          header: {
            avatar: require("~/assets/images/home-page/avatar-node-stats.svg"),
          },
          layers: [
            {
              type: "text",
              text: [
                i18n.t("homePage.nodeStatsCard.standby.text[0]") +
                  " " +
                  i18n.t("homePage.nodeStatsCard.standby.text[1]"),
              ],
            },
            {
              type: "text-card",
              content: [
                { text: standbyNodeCount },
                { text: "STANDBY", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" }, 
                { text: MCCN.activeNodeCount },
                { text: "STANDBY", style: "font-size: 2.5rem; position:relative", 
                tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },
              ],
              style: `
            background-color: #000B12;
            font-family: "Exo 2";
            font-style: italic;
            font-weight: 800;
            font-size: 4.5rem ;
            line-height: 3.8rem;
            letter-spacing: -0.0625rem ;
            color: #32CD32;
            `,
              link: $links("delphi_node_dashboard"),
              linkHeader: i18n.t("homePageMobile.nodesStats.standbyCardTitle"),
              linkCaption: i18n.t(
                "homePageMobile.nodesStats.standbyCardSubtitle"
              ),
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          header: {
            text: i18n.t("homePageMobile.solvency.header"),
            avatar: require("~/assets/images/home-page/avatar-solvency.png"),
          },
          layers: [
            { type: "text", text: i18n.t("homePageMobile.solvency.mainText") },
            {
              type: "table",
              table: {
                rows: [
                  {
                    cols: [
                      i18n.t("homePageMobile.solvency.table[0]"),
                      {
                        content: ["$" + totalCapitalUsd + " SCCN" , "$" + MCCN.totalCapitalUsd + " MCCN"],
                        style: tableNumberStyle,
                      },
                    ],
                  },
                  {
                    cols: [
                      i18n.t("homePageMobile.solvency.table[1]"),
                      {
                        content: ["$" + totalBondedUsd + " SCCN" , "$" + MCCN.totalBondedUsd + " MCCN"],
                        style: tableNumberStyle,
                      },
                    ],
                  },
                  {
                    cols: [
                      i18n.t("homePageMobile.solvency.table[2]"),
                      {
                        content: ["$" + totalPooledUsd + " SCCN" , "$" + MCCN.totalPooledUsd + " MCCN"],
                        style: tableNumberStyle,
                      },
                    ],
                  },
                ],
              },
            },
            {
              type: "table-links",
              links: [
                {
                  text: i18n.t("homePageMobile.solvency.links[0]"),
                  link: $links("viewblock_vaults"),
                },
                {
                  text: i18n.t("homePageMobile.solvency.links[1]"),
                  link: $links("viewblock_validators"),
                },
                {
                  text: i18n.t("homePageMobile.solvency.links[2]"),
                  link: $links("viewblock_pools"),
                },
              ],
            },
          ],
          endLine: true,
        },
        {
          thread: false,
          header: {
            text: i18n.t("homePageMobile.indicators.header"),
            avatar: require("~/assets/images/home-page/avatar-indicators.svg"),
          },
          layers: [
            {
              type: "text",
              text: i18n.t("homePageMobile.indicators.mainText"),
            },
            {
              type: "table",
              table: {
                rows: [
                  {
                    cols: [
                      i18n.t("homePageMobile.indicators.table[0]"),
                      { 
                        content: [volume24h + " SCCN" , "$" + MCCN.volume24h + " MCCN"],
                        style: tableNumberStyle 
                      },
                    ],
                  },
                  {
                    cols: [
                      i18n.t("homePageMobile.indicators.table[1]"),
                      { 
                        content: [tx24h + " SCCN" , "$" + MCCN.tx24h + " MCCN"],
                        style: tableNumberStyle 
                       },
                    ],
                  },
                  {
                    cols: [
                      i18n.t("homePageMobile.indicators.table[2]"),
                      { 
                        content: [users24h + " SCCN" , "$" + MCCN.users24h + " MCCN"],
                        style: tableNumberStyle },

                    ],
                  },
                ],
              },
            },
            {
              type: "table-links",
              links: [
                {
                  text: i18n.t("homePageMobile.indicators.link"),
                  link: $links("thorchain_net_stats"),
                },
              ],
            },
          ],
        },
      ],
    };
  },
  methods: {},
};
</script>

<style>
.homepage {
  background-color: #000b12;
}
.bottom-spacing {
  height: 5rem;
}
</style>