<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
    <div class="bottom-spacing"></div>

  </div>
</template>

<script>
import utils from "../../utils"
import {fetchTechnologyViewData} from '../../utils/commonFunctions';
import PostComponent from "../components/page-components/PostComponent.vue"

export default {
  components:{
    PostComponent
  },
  data() {
    
  },
  async asyncData({app, $services, $links}){
    var i18n = app.i18n
    var {
        minimumBond,
        bondInUsd,
        asgardActiveVaultLink,
        totalTx
    } = await fetchTechnologyViewData($services)
    
    var activeAsgardVault = $links('viewblock_vault_asgard')
    return {
          posts: [
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.firstStateMachine.mobileTitle"),
                avatar: require("~/assets/images/tech-view/avatar-tss.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.firstStateMachine.title'), i18n.t('technicalPage.firstStateMachine.text[0]')]},
                // {type: 'image', image: require("~/assets/images/tech-view/empty-card.svg")}, 
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.firstStateMachine.mobileBtnText"), disable: true, tag: 'soon'}
                ]},
                {type:'text', text: [
                  i18n.t('technicalPage.firstStateMachine.text[1]'),
                  i18n.t('technicalPage.firstStateMachine.text[2]'),
                  i18n.t('technicalPage.firstStateMachine.text[3]')
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.mobileCodeSnippets.witnessTx"),
                avatar: require("~/assets/images/tech-view/avatar-code-snippet.svg"),
              },
              layers: [
                {type: 'code-snippet', image:require('~/assets/images/tech-view/witness-tx-card.svg')}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.mobileCodeSnippets.finalizedTx"),
                avatar: require("~/assets/images/tech-view/avatar-code-snippet.svg"),
              },
              layers: [
                {type: 'code-snippet', image:require('~/assets/images/tech-view/finalized-tx-card.svg')}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.firstButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-chains-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.firstButSir.text')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.firstButSir.links[0]"), link: $links('twitter_new_chain')},
                  {text: i18n.t("technicalPage.firstButSir.links[1]"), link: $links('docs_node_operations')},
                  {text: i18n.t("technicalPage.firstButSir.links[2]"), link: $links('viewblock')},
                  {text: i18n.t("technicalPage.firstButSir.links[3]"), link: $links('telegram_dev')},
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.secondStateMachine.mobileTitle"),
                avatar: require("~/assets/images/tech-view/avatar-tss.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('technicalPage.firstStateMachine.title'),
                  i18n.t('technicalPage.secondStateMachine.text[0]')
                ]},
                // {type: 'image', image: require("~/assets/images/tech-view/empty-card.svg")}, 
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.firstStateMachine.mobileBtnText"), disable: true, tag: 'soon'}
                ]},
                {type:'text', text: [
                  i18n.t('technicalPage.secondStateMachine.mobileText[0]'),
                  i18n.t('technicalPage.secondStateMachine.mobileText[1]')
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.mobileCodeSnippets.txOut"), 
                avatar: require("~/assets/images/tech-view/avatar-code-snippet.svg"),
              },
              layers: [
                {type: 'code-snippet', image:require('~/assets/images/tech-view/txout-card.svg')}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.secondButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-valut-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.secondButSir.text')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.secondButSir.links[0]"), link: activeAsgardVault},
                  
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.thirdStateMachine.mobileTitle"),
                avatar: require("~/assets/images/tech-view/avatar-tss.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('technicalPage.firstStateMachine.title'),
                  i18n.t('technicalPage.secondStateMachine.text[0]')
                ]},
                // {type: 'image', image: require("~/assets/images/tech-view/empty-card.svg")}, 
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.firstStateMachine.mobileBtnText"), disable: true, tag: 'soon'}
                ]},
                {type:'text', text: [
                  i18n.t('technicalPage.thirdStateMachine.text[1]') + " " +
                  i18n.t('technicalPage.thirdStateMachine.text[2]') + " " +
                  i18n.t('technicalPage.thirdStateMachine.text[3]')
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.thirdButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-chains-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text:[i18n.t('technicalPage.thirdButSir.mobileText')[0].replace('^MIN_BOND', minimumBond).replace('^MIN_BOND_USD', bondInUsd)]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.thirdButSir.links[0]"), link: $links('viewblock_vault_yggdrasil')},
                  {text: i18n.t("technicalPage.thirdButSir.links[1]"), link: $links('viewblock_validators')},
                  {text: i18n.t("technicalPage.thirdButSir.links[2]"), link: {localLink: true, link: '/rune'}},
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.rewiringLegacy.mobileTitle"),
                avatar: require("~/assets/images/tech-view/avatar-rewiring.svg"),
              },
              layers: [
                {type:'text', text: i18n.t('technicalPage.rewiringLegacy.mobileText')},
                {type: 'table', table:{
                  style: "text-align: center",
                  rows: [
                    {cols: [
                      {content: "Versus", style: 'text-align: left'},
                      "THORChain",
                      "CEX"
                    ]},
                    {
                      cols: [
                        {content: "Servers?", style: 'display:flex;justify-content: left;align-items:center'},
                        {content: "99+ Public & Anon", style: 'color: #23DCC8'},
                        {content: "Private", style: 'display:flex;justify-content: center;align-items:center'}
                      ]
                    },
                    {
                      cols: [
                        {content: "On-chain?", style: 'text-align: left'},
                        {content: "✅", style: ''},
                        {content: "❌", style: ''}
                      ]
                    },
                    {
                      cols: [
                        {content: "Public Data?", style: 'text-align: left'},
                        {content: "✅", style: ''},
                        {content: "❌", style: ''}
                      ]
                    },
                    {
                      cols: [
                        {content: "TSS Agreeing?", style: 'text-align: left'},
                        {content: "Two Thirds", style: 'color: #23DCC8'},
                        {content: "What’s TSS?", style: ''}
                      ]
                    },
                    {
                      cols: [
                        {content: "LP Incentives?", style: 'text-align: left'},
                        {content: "Yes w/ Fees", style: 'color: #23DCC8'},
                        {content: "No", style: ''}
                      ]
                    },
                    {
                      cols: [
                        {content: "Conclusion?", style: 'display:flex;justify-content: left;align-items:center'},
                        {content: "Not Comparable", style: 'color: #FF4954'},
                        {content: "Compatible", style: 'color: #23DCC8;display:flex;justify-content: center;align-items:center'}
                      ]
                    }
                  ]}
                }
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.rewiringButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-cex-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.rewiringButSir.text')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.rewiringButSir.links[0]"), link: $links('twitter_integrating')},
                  {text: i18n.t("technicalPage.rewiringButSir.links[1]"), link: $links('medium_affiliate_fees')},
                  {text: i18n.t("technicalPage.rewiringButSir.links[2]"), link: $links('docs_midgard_api')},
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.reportsAndAudits.mobileTitle"),
                avatar: require("~/assets/images/tech-view/avatar-audit.svg"),
              },
              layers: [
                {type:'text', text: i18n.t('technicalPage.reportsAndAudits.textV2')},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.reportsAndAudits.links[0]"), link: $links('paper_tss_whitepaper')},
                  {text: i18n.t("technicalPage.reportsAndAudits.links[1]"), link: $links('paper_tss_audit')},
                  {text: i18n.t("technicalPage.reportsAndAudits.links[2]"), link: $links('paper_tss_benchmark')},
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.wheretoaskButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-help-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.wheretoaskButSir.text')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.wheretoaskButSir.links[0]"), link: $links('twitter')},
                  {text: i18n.t("technicalPage.wheretoaskButSir.links[1]"), link: $links('telegram_community')},
                  {text: i18n.t("technicalPage.wheretoaskButSir.links[2]"), link: $links('discord')},
                  {text: i18n.t("technicalPage.wheretoaskButSir.links[3]"), link: $links('discord_lp_university')},
                ]}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("technicalPage.volumeCard.title"),
                avatar: require("~/assets/images/tech-view/avatar-volume.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.volumeCard.text')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.volumeCard.links[0]"), link: $links('thorchain_net_stats')},
                ]}
              ]
            },
            {
              thread: false,
              header: {
                text: i18n.t("technicalPage.smokeButSir.header"),
                avatar: require("~/assets/images/tech-view/avatar-benefit-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: [i18n.t('technicalPage.smokeButSir.text[0]')+" "+i18n.t('technicalPage.smokeButSir.text[1]')]},
                {type: 'table-links', links: [
                  {text: i18n.t("technicalPage.smokeButSir.links[0]"), link: $links('asgardex_web')},
                  {text: i18n.t("technicalPage.smokeButSir.links[1]"), link: $links('discord_lp_university')},
                  {text: i18n.t("technicalPage.smokeButSir.links[2]"), link: $links('twitter_arbitraging')},
                  {text: i18n.t("technicalPage.smokeButSir.links[3]"), link: $links('docs_node_operations')},
                  {text: i18n.t("technicalPage.smokeButSir.links[4]"), link: $links('twitter_integrating')},
                ]}
              ]
            },
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>