<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
import utils from "../../utils"
import CommonFunctions from "../utils/CommonFunctions.js"
import PostComponent from "../components/page-components/PostComponent.vue"
import {fetchRuneViewData} from "../../utils/commonFunctions"

export default {
  components: {
    PostComponent
  },
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n
    
    return {
          posts: [
        {
          thread: false,
          header: {
            text: i18n.t("videoPageMobile.thorchainHeader.title"),
            avatar: require("~/assets/images/home-page/avatar-thorchain.svg"),
          },
          layers: [
            {
              type: "text",
              text: [i18n.t("videoPageMobile.thorchainHeader.text")],
            },
          ],
          endLine: true,
        },
        {
          thread: true,
          header: {
            text: i18n.t("videoPageMobile.grcHeader.title"),
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
                {type:'text', text: i18n.t(" ")},
                {type: 'table-links', links: [
                  {text: i18n.t("videoPageMobile.grcHeader.links[0]"), link: $links('youtube_grassrootscrypto_subscribe')},
                  {text: i18n.t("videoPageMobile.grcHeader.links[1]"), link: $links('youtube_grassrootscrypto_follow')}
                ]}
              ]
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-thorchain-overview.svg"),
              link: true,
              isYoutube: true,
              videoId: "DYxkyII_OPo",
              linkHeader: i18n.t("videoPageMobile.grcVideosThorchainOverview.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosThorchainOverview.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-synthetics-part-1.svg"),
              link: true,
              isYoutube: true,
              videoId: "-ZfIRkKYhO8",
              linkHeader: i18n.t("videoPageMobile.grcVideosSynthetics1.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosSynthetics1.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-liquidity-pooling-in-depth.svg"),
              link: true,
              isYoutube: true,
              videoId: "wBSuPDRc7KY",
              linkHeader: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosLiquidityPooling.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-wait-times-fees.svg"),
              link: true,
              isYoutube: true,
              videoId: "XAdaEXO-Ofg",
              linkHeader: i18n.t("videoPageMobile.grcVideosWaitTimesFees.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosWaitTimesFees.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-vaults-and-the-incentive-pendulum.svg"),
              link: true,
              isYoutube: true,
              videoId: "dKMCpb4iQQ8",
              linkHeader: i18n.t("videoPageMobile.grcVideosVaultsIncentivePendulum.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosVaultsIncentivePendulum.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-impermanent-loss-protection-explained.svg"),
              link: true,
              isYoutube: true,
              videoId: "yce7OJ_z57g",
              linkHeader: i18n.t("videoPageMobile.grcVideosIlProtection.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosIlProtection.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-deep-dive-into-thornodes.svg"),
              link: true,
              isYoutube: true,
              videoId: "_G8SuXenMus",
              linkHeader: i18n.t("videoPageMobile.grcVideosThornodes.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosThornodes.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-network-security-part-1.svg"),
              link: true,
              isYoutube: true,
              videoId: "m0rIl8XmjYc",
              linkHeader: i18n.t("videoPageMobile.grcVideosNetworkSecurity1.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosNetworkSecurity1.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-network-security-part-2.svg"),
              link: true,
              isYoutube: true,
              videoId: "H-yDMgoE4v4",
              linkHeader: i18n.t("videoPageMobile.grcVideosNetworkSecurity2.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosNetworkSecurity2.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-how-to-access-mccn-via-interfaces.svg"),
              link: true,
              isYoutube: true,
              videoId: "U8Mz1JeVOO0",
              linkHeader: i18n.t("videoPageMobile.grcVideosAccessMccnInterfaces.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosAccessMccnInterfaces.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-what-to-expect-in-mccn.svg"),
              link: true,
              isYoutube: true,
              videoId: "a_c5Z2tsSgc",
              linkHeader: i18n.t("videoPageMobile.grcVideosExpectMccn.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosExpectMccn.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: true,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-guide-to-mccn.svg"),
              link: true,
              isYoutube: true,
              videoId: "w6ePf1fEPWA",
              linkHeader: i18n.t("videoPageMobile.grcVideosMccnGuide.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosMccnGuide.linkSubTitle")
            },
          ],
          endLine: false,
        },
        {
          thread: false,
          small: false,
          header: {
            avatar: require("~/assets/images/videos-view/avatar-grassrootscrypto.svg"),
          },
          layers: [
            {
              type: "image",
              image: require("~/assets/images/videos-view/grassrootscrypto-clubhouse-recording.svg"),
              link: true,
              isYoutube: true,
              videoId: "HRErq6bEPuM",
              linkHeader: i18n.t("videoPageMobile.grcVideosClubhouseMar27.linkTitle"),
              linkCaption: i18n.t("videoPageMobile.grcVideosClubhouseMar27.linkSubTitle")
            },
          ],
          endLine: false,
        }
      ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>