<template>
  <div class="row butsir" :style="'height: ' + butSirComponent.height">
        <div class="col" :style="butSirComponent.imgStyle" v-if="!butSirComponent.isRight">
            <img :style="{width: butSirComponent.imgStyle.width}" :src="butSirComponent.imgSrc" :alt="butSirComponent.imgAlt" />
        </div>
        <div class="col">
            <div class="butsir-content" :class="butSirComponent.externalClasses">
                <div class="butsir-header">
                  <h3>{{ butSirComponent.context.header }}</h3>
                </div>
                <div v-if="!$slots.text && !Array.isArray(butSirComponent.context.text)" class="butsir-text">
                    <p>{{ butSirComponent.context.text }}</p>
                </div>
                <div v-if="!$slots.text && Array.isArray(butSirComponent.context.text)" class="butsir-text" v-for="(text, i) in butSirComponent.context.text" :key="i">
                    <p>{{ text }}</p>
                    <br v-if="butSirComponent.context.text.length > 1">
                </div>
                <div v-if="$slots.text" class="butsir-text">
                  <slot name="text"></slot>
                </div>
                <div v-if="!$slots.links" class="butsir-links row align-items-center" :style="'margin-top:' + butSirComponent.linkMargin" >
                    <span class="learn-more col-auto p-0">
                        {{ butSirComponent.context.learnMore }}
                    </span>
                    <div class="col-auto p-0" v-for="(link, i) in butSirComponent.context.links" :key="i">  
                          <ext-link v-if="
                          butSirComponent.links[i]
                          && typeof butSirComponent.links[i] === 'object' 
                          && butSirComponent.links[i].link
                          && butSirComponent.links[i].link.includes('http')
                          " 
                          :class="{'butsir-link': true, 'disabled': butSirComponent.linkDisabled[i]}" 
                          :linkProps="butSirComponent.linkDisabled[i] ? undefined : butSirComponent.links[i]" 
                          :disabled="butSirComponent.linkDisabled[i] ? true : false">
                            {{ link }}
                            <span class="soon" v-if="butSirComponent.linkDisabled[i]">SOON</span>
                            <span class="soon" style="top: -0.1875rem " 
                            v-if="butSirComponent.linkTemp 
                            && butSirComponent.linkTemp[i]"
                            >UPDATE IN V0.3</span>
                          </ext-link>
                          <nuxt-link v-else :class="{'butsir-link': true, 'disabled': butSirComponent.linkDisabled[i]}" 
                          :to="butSirComponent.linkDisabled[i] || !butSirComponent.links[i] ? '#' : butSirComponent.links[i]" 
                          :disabled="butSirComponent.linkDisabled[i] ? true : false">{{ link }}<span class="soon" v-if="butSirComponent.linkDisabled[i]">SOON</span>
                          </nuxt-link>
                    </div>
                </div>
                <div class="butsir-links row align-items-center" :style="'margin-top:' + butSirComponent.linkMargin" v-else>
                  <slot name="links"></slot>
                </div>
            </div>
        </div>
        <div class="col" :style="butSirComponent.imgStyle" v-if="butSirComponent.isRight">
            <img :style="{width: butSirComponent.imgStyle.width}" :src="butSirComponent.imgSrc" :alt="butSirComponent.imgAlt" />
        </div>
    </div>
</template>

<script>
import ExtLink from "./ExtLink.vue"

export default {
  components: { ExtLink },
    props: {
      butSirComponent: {
        type: Object, 
        default: {
          context: "",
          isRight: true,
          height: 227,
          imgStyle: {},
          linkDisabled: [],
          imgSrc: "",
          imgAlt: "thorchain node",
          links: []
        }
      }
    },
    data: function() {
        return {

        }
    },
    beforeMount(){

    },
    mounted(){
    
    }
}
</script>

<style lang="scss" scopped>
  .butsir {
    background-color: #f3ba2f;
    color: #02121d;
    border-radius: 1.5rem;
    .butsir-content {
      padding: 1.4375rem 1.875rem 1.875rem 1.875rem ;

      .butsir-header h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem ;
        line-height: 2.375rem ;
        letter-spacing: -0.02rem;
        margin: 0;
      }
      .butsir-text {
        margin-top: 1.25rem ;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.375rem ;
        line-height: 1.6875rem ;
      }
      .butsir-links {
        margin-top: 1.5625rem ;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem ;
        line-height: 1.5rem ;
        .learn-more {
          font-weight: bold;
        }
        .butsir-link {
          display: inline-block;
          position: relative;
          padding: 0.5rem 1.25rem ;
          background-color: #02121d;
          border-radius: 0.375rem;
          // box-shadow: 0 0.0625rem black;
          color: white;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 0.875rem ;
          line-height: 1.5rem ;
          margin-left: 0.625rem ;
          text-decoration: none;
          transition: all 0.2s;
          .icon {
            width: 0.9375rem ;
            display: inline;
          }
          .hover {
            width: 0.9375rem ;
            display: none;
          }
          &:hover {
            .hover {
              transition: all 0.2s;
              display: inline;
            }
            .icon {
              transition: all 0.2s;
              display: none;
            }
          }
          &:hover {
            color: #02121d;
            background-color: #fff;
            // box-shadow: 0 0.0625rem #fff;
          }
          &.disabled {
            color: #4b5261;
            pointer-events: none;
            cursor: default;
            &:hover {
              color: #4b5261;
              background-color: #02121d;
              // box-shadow: 0 0.0625rem black;
            }
          }
          .soon {
            position: absolute;
            font-weight: 300;
            font-size: 0.6em;
            right: 1.25rem ;
            top: -0.1875rem ;
            color: #f3ba2f;
          }
        }
        .live-metrics {
          .butsir-link {
            background-color: rgba( #000, 0.1);
            box-shadow: none;
            color: #000;

            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
</style>