<template>
<div class="countdown-holder">
  <div id="countdown">
    <div id="countdown-number">{{countdown}}</div>
    <svg class="countdown-svg">
      <circle :class="{'animation': startAnimation}" r="1.125rem" cx="1.25rem" cy="1.25rem"></circle>
    </svg>
  </div>
</div>
</template>

<script>
export default {
    data(){
        return {
            countdown: 15,
            startAnimation: false,
            interval: null
        }
    },
    mounted(){
        /* in order to change the timer, change this "countdown" number 
        and the one in styles>.animation> animation*/
    },
    methods: {

        reset(){
            this.startAnimation = false
            var self = this
            setTimeout(()=>{
                self.startAnimation = true
            }, 50)

            if(this.interval) clearInterval(this.interval)

            this.countdown = 15;
            this.interval = setInterval(function() {
                self.countdown = --self.countdown <= 0 ? 15 : self.countdown;
            }, 1000);

        }
    }
};
</script>

<style>
.countdown-holder{
  padding: 0.1875rem ;
  border-radius: 100%;
  background-color: #000B12;
}
#countdown {
  position: relative;
  height: 2.5rem ;
  width: 2.5rem ;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 2.625rem ;
  font-family: Roboto;
  font-size: 1.5rem ;
  font-weight: 700;
}

.countdown-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem ;
  height: 2.5rem ;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.animation {
  stroke-dasharray: 7.062rem;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 0.25rem ;
  stroke: white;
  fill: none;
  animation: countdown 15s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 7.062rem;
  }
}
</style>