<template>
  <NuxtLink v-if="localLink" target="_self" :to="link"><slot></slot></NuxtLink>
  <a v-else :href="link" @click="linkClicked()" target="_blank"><slot></slot></a>
</template>

<script>
export default {
  props: {
    linkProps: undefined,
  },
  data(){
      return{
          link: null,
          category: 'not_defined',
          label: 'not_defined', 
          action: 'not_defined',
          disabled: false,
          localLink: false
      }
  },
  beforeMount() {
      if(this.linkProps){
          if(this.linkProps.hasOwnProperty('action'))
            this.action = this.linkProps.action
          if(this.linkProps.hasOwnProperty('link'))
            this.link = this.linkProps.link
        if(this.linkProps.hasOwnProperty('category'))
            this.category = this.linkProps.category
        if(this.linkProps.hasOwnProperty('label'))
            this.label = this.linkProps.label   
        if(this.linkProps.hasOwnProperty('localLink'))
            this.localLink = this.linkProps.localLink

          }
      else{
          this.disabled = true
      }
    },
    methods:{
        linkClicked(){
            gtag('event', this.action, {
                'event_category': this.category,
                'event_label': this.label,
                'link': this.link,
                'event_callback': function() {
                //    console.log("Event sent")
                }
            });
        }
    }
};
</script>

<style>
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
</style>