<template>
  <div class="slider-container">
    <CountDownTimer class="slider-countdown" ref="sliderCountDown"/>
    <div v-for="(card, i) of cards" :key="i">
      <div class="title-container" v-if="i === whichCard" :style="{ backgroundImage: 'url(' + card.mainImage + ')' }">
        <h1 :style="card.mainTitleStyle">
          {{ $t("homePage.mainTitle.title")[0] }}<br />{{
            $t("homePage.mainTitle.title")[1]
          }}
        </h1>
        <div class="card-text" :style="card.mainTextStyle">
          {{ $t("homePage.mainTitle.text")[0] }} <br />
          {{ $t("homePage.mainTitle.text")[1] }}
        </div>
        <div
          @click="titleButSirClicked"
          @mouseover="titleButSirMouseoverEvent"
          @mouseout="titleButSirMouseoutEvent"
          class="butsir-btn"
        >
          <img
            v-if="!titleButSirMouseover"
            src="~/assets/images/home/surprised-man.svg"
            alt="Thorchain But sir"
          />
          <img
            v-else
            src="~/assets/images/home/surprised-man-hover.svg"
            alt="Thorchain But sir"
          />
          <span>{{ $t("homePage.mainTitle.butsir") }}</span>
        </div>
        <div class="card-wrapper">
          <img v-if="card.embeddedCardImage" :src="card.embeddedCardImage" alt="embedded-card" />
          
          <div class="embedded-card">
            <div class="text" style="color: #ffffff">
              <div v-for="(textLine, j) of card.embeddedCardText" :key="j" :style="card.embeddedCardTextStyle">
                {{ textLine }}
              </div>
            </div>
            <ext-link
              class="embedded-card-link"
              :style="card.embeddedCardLinkStyle"
              :linkProps="card.embeddedCardLink"
              key="shape_shift_app"
              >
                <div v-for="(textLine, j) of card.embeddedCardLinkText" :key="j">
                    {{textLine}}
                </div>
              </ext-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      countDownTimer: 15000 /*ms*/,
      whichCard: 0,
      enableCards: 0,
      titleButSirMouseover: false,
      cards: null
    };
  },
  beforeMount(){
    this.cards =  [
      {
          mainTitleStyle: "color: #28F4AE",
          mainTextStyle: "color: #fff",
          mainImage: require("~/assets/images/home/feature-card-skip.png"),
          embeddedCardImage: require("~/assets/images/home/embedded-card-skip.svg"),
          embeddedCardText: [
            "New THORChain DEX",
            "with beautiful UX.",
            "SKIP CEX and SWAP.",
          ],
          embeddedCardTextStyle: "",
          embeddedCardLinkText: ["Try SKIP"],
          embeddedCardLinkStyle: "color: #28F4AE",
          embeddedCardLink: this.$links('skip'),
          disabled: false,
        },
        {
          mainTitleStyle: "color: #fff",
          mainTextStyle: "color: #fff",
          mainImage: require("~/assets/images/home/feature-card-thorname.png"),
          embeddedCardImage: null,
          embeddedCardText: [
            "-",
            "-",
            "-",

          ],
          embeddedCardTextStyle: "color: rgba(0,0,0,0)",
          embeddedCardLinkText: ["Click here to register your THORName"],
          embeddedCardLinkStyle: "color: #28F4AF",
          embeddedCardLink: this.$links('thorname'),
          disabled: false,
        },
        {
          mainTitleStyle: "color: #fff",
          mainTextStyle: "color: #fff",
          mainImage: require("~/assets/images/home/feature-card-xdefi.png"),
          embeddedCardImage: require("~/assets/images/home/embedded-card-xdefi.svg"),
          embeddedCardText: [
            "XDEFI Wallet supports native",
            "THOR.RUNE. Invites coming",
            "soon! Follow them!",
          ],
          embeddedCardTextStyle: "",
          embeddedCardLinkText: ["Follow on Twitter"],
          embeddedCardLinkStyle: "color: #F3BA2F",
          embeddedCardLink: this.$links('xdefi_wallet_form'),
          disabled: false,
        },
        {
          mainTitleStyle: "color: #28f4af",
          mainTextStyle: "color: #fff",
          mainImage: require("~/assets/images/home/feature-card-mccn.png"),
          embeddedCardImage: require("~/assets/images/home/embedded-card-mccn.svg"),
          embeddedCardText: [
            "MultiChain ChaosNet",
            "Native RUNE, BTC, ETH, BNB",
            "LTC and BCH ready.",
          ],
          embeddedCardTextStyle: "color: #fff",
          embeddedCardLinkText: ["A Quick Guide to MCCN"],
          embeddedCardLinkStyle: "color: #28f4af",
          embeddedCardLink: this.$links('grassrootscrypto_quick_guide_to_mccn'),
          disabled: false
        },
        {
          mainTitleStyle: "color: #fff",
          mainTextStyle: "color: #fff",
          mainImage: require("~/assets/images/home/shapeshift-feature-card.svg"),
          embeddedCardImage: require("~/assets/images/home/embedded-card-shapeshift.svg"),
          embeddedCardText: [
            "ShapeShift Integrates THORChain!",
            "Enabling native BTC, LTC and",
            "ETH trading via their DEX.",
          ],
          embeddedCardTextStyle: "color: #000",
          embeddedCardLinkText: ["Download ShapeShift"],
          embeddedCardLinkStyle: "color: #386ff9",
          embeddedCardLink: this.$links('shapeshift_mobile_app'),
          disabled: false
        },
      ]

    for(var i in this.cards){
      if(!this.cards[i].disabled)
        this.enableCards++;
    }
    console.log("enable: "+this.enableCards)
    
  },
  mounted() {
    var self = this;

    
    function goToNextCard(){
        if(self.enableCards > 0){
          self.whichCard = ++self.whichCard >= self.cards.length ? 0 : self.whichCard;
          if(self.cards[self.whichCard].disabled)
            goToNextCard()
        }
    }

    self.whichCard = 0;
    if(self.cards[self.whichCard].disabled)
        goToNextCard()
    if(self.$refs.sliderCountDown)
      self.$refs.sliderCountDown.reset();
    
    setInterval(() => {
      goToNextCard()
      if(self.$refs.sliderCountDown)
        self.$refs.sliderCountDown.reset();
    }, this.countDownTimer);

  },
  methods:{
  titleButSirMouseoverEvent(event){
    this.titleButSirMouseover = true;
  },
  titleButSirMouseoutEvent(event){
    this.titleButSirMouseover = false;
  },
  titleButSirClicked(event){
    console.log(this.$links('explainer'))
      console.log("Hello")
    if(typeof variable !== 'undefined'){
        gtag('event', this.$links('explainer').action, {
        'event_category': this.$links('explainer').category,
        'event_label': this.$links('explainer').label,
        'link': this.$links('explainer').link
      });
    }
    this.$store.commit('showYoutubeOverlay', true)
  }
},
};
</script>

<style lang="scss">
.slider-container {
  position: relative;
  .slider-countdown {
    position: absolute !important;
    bottom: 1.875rem;
    left: 1.875rem;
  }
}

.title-holder,
.title-holder-imminent {
  height: 46.1875rem;
  // border: 1px solid red;
  background-image: url("~assets/images/home/bridge.jpg");
  background-size: cover;
  margin-top: 0.0625rem;
  padding-top: 6.375rem;
  border-radius: 3.125rem;
  
  h1 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 4.375rem;
    text-align: center;
    letter-spacing: -0.7px;
    color: #000b12;
    text-transform: uppercase;
  }
  
  .butsir-btn {
    background-color: $butSirBackground;
    width: 14.8125rem;
    height: 4rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4375rem;
    line-height: 2rem;

    text-align: center;

    color: #02121d;
    border-radius: 0.75rem;
    margin: 0rem auto;
    margin-top: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding-top: 0.1875rem;
    // transition: all 0.1s;
    img {
      margin-top: 0.1875rem;
      margin-right: 0.5rem;
      width: 3.31rem;
    }
    span {
      margin-top: 1.25rem;
    }
    &:hover {
      background-color: #000;
      color: $butSirBackground;
    }
  }
}
.title-holder-imminent {
  background-image: url("~assets/images/home/multichain_testnet.png");

  h1 {
    color: #fff;
  }

  .card-text {
    word-spacing: 0.3125rem;
  }
}

.title-container {
  height: 46.1875rem;
  // border: 1px solid red;
  background-size: cover;
  margin-top: 0.0625rem;
  padding-top: 6.375rem;
  border-radius: 3.125rem;
  h1 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 4.375rem;
    text-align: center;
    letter-spacing: -0.7px;
    color: #000b12;
    text-transform: uppercase;
  }
  .card-text{
    color: white;
    margin-top: 0.8125rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    /* or 125% */
  
    text-align: center;
}
  .butsir-btn {
    background-color: $butSirBackground;
    width: 14.8125rem;
    height: 4rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4375rem;
    line-height: 2rem;

    text-align: center;

    color: #02121d;
    border-radius: 0.75rem;
    margin: 0rem auto;
    margin-top: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding-top: 0.1875rem;
    // transition: all 0.1s;
    img {
      margin-top: 0.1875rem;
      margin-right: 0.5rem;
      width: 3.31rem;
    }
    span {
      margin-top: 1.25rem;
    }
    &:hover {
      background-color: #000;
      color: $butSirBackground;
    }
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.375rem;
    position: relative;
    img {
      width: 42.3125rem;
      position: absolute;
      top: 0;
    }
    .embedded-card {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      // height: 13.75rem ;
      // width: 41.875rem ;
      // background-image: url('~assets/images/home/embedded-card.svg');
      // background-size: cover;
      // background-repeat: no-repeat;

      .text {
        text-align: center;
        margin: auto;
        margin-top: 2.1875rem;
        width: 23.625rem;
        font-family: "Roboto";
        font-size: 1.5rem;
        color: #000b12;
        line-height: 1.875rem;
      }

      .embedded-card-link {
        color: #386ff9;
        font-size: 1.5rem;
        text-decoration: none;
        line-height: 1.875rem;
        font-weight: bold;
        margin: auto;
        margin-top: 2.125rem;
        margin-bottom: 2.0625rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>