// Fabrx Font Family Variables
$roboto-font-family: 'Roboto', sans-serif;

// Fabrx Color Variables
$dark: #343a40;
$primary: #006EFF;
$secondary: #6c757d;
$danger: #dc3545;
$success: #198754;
$warning: #ffc107;
$warning-light: #FCD287;
$warning-light-hover: #F8BF59;
$btn-warning: #ff7200;
$dark-light: #212121;
$dark-100: #121212;
$dark-600: #4c4c4c;
$dark-800: #3c3b3b;
$purple: #6f42c1;
$purple-600: #5d37a2;
$purple-light: #6742b7;
$blue-dark: #091119;
$info: #0dcaf0;
$light: #f8f9fa;
$gray-light: #606170;
$success-light: #4EE0BC;
$secondary-600: #605F5F;
$secondary-100: #FAFAFB;
$secondary-200: #F5F5F5;
$secondary-300: #EAEAEA;
$secondary-400: #C4C4C4;
$secondary-900: #303133;
$danger-100: #FFCCCC;
$danger-200: #F89595;
$danger-300: #F67878;
$danger-500: #C54E4E;
$danger-600: #9C3E3E;
$success-100: #C6FFDF;
$success-200: #9CFFC8;
$success-300: #5FDD97;
$success-400: #41E187;
$success-500: #27B264;
$success-600: #1F9050;
$warning-100: #FFD5B3;
$warning-200: #FEBB83;
$warning-300: #FFA65E;
$warning-500: #DC7D30;
$warning-600: #B86927;
$shade-100: #f6faff;
$shade-200: #ebf4ff;
$shade-300: #97c3ff;
$shade-400: #59a0ff;
$shade-600: #085ed0;
$brand-1: #ECF1F8;
$brand-2: #203956;
$brand-5: #232E7B;
$brand-6: #FF3636;
$brand-7: #FED385;
$brand-8: #FFE5CD;
$brand-9: #FB5858;
$brand-11: #3c468b;
$dark-link: #333333;
$btn-light: #E1E1E1;
$btn-thin-light: #f3f3f3;
$tooltip-bg: #363A40;
$muted: #5D6F88;
$primary-light: #4b99ff;
$primary-light2: #80b7ff;
$danger-light: #ff9d9d;
$danger-light2: #ff8a8a;
$danger-light3: #ee656f;
$success-light2: #5bc188;
$success-light3: #6beaa3;
$warning-light2: #fdb881;
$warning-light3: #ffb87f;
$warning-light4: #FFB36B;
$secondary-dark2: #757575;
$tints: #38e0c5;
$pink-light: #bc5980;
$secondary-light: #EBECEC;
$secondary-light-300: #E6E6E6;
$secondary-dark-500: #9A9C9F;
$primary-light-300: #ADD0FF;
$dark-light-border: #5A5A5A;
$green-light-border: #74EACF;
$secondary-light-100:#f0f0f1;
$secondary-light-200:#E9E9E9;
$secondary-light-600:#888888;
$secondary-light-400:#DDDCDC;
$danger-light-500:#FF6565;
$primary-dark-500:#445161;
$dark-700: #404040;
$blue-dark-700: #082054;
$blue-dark-800: #1c2d50;
$blue-700: #094bac;
$indigo-400: #7e36f4;
$gray-light-100: #f9f9f9;
$gray-light-300: #cccccc;
$gray-light-200: #dededf;
$gray-light-400: #eeeeef;
$gray-light-500: #d8d8d8;
$gray-dark-600: #444444;
$info-light: #38dfc5;
$black-800: #131415;
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$info-dark: #2f6f9f;
$info-dark-200: #4f9fcf;
$danger-light-100: #d44950;
$dark-blue-100: #f0f0f3;
$info-800: #17a2b8;
$black-900:#0A0A0A;
$dark-600: #959ea9;
$info-400: #4bbde1;
$purple-light: #6871B6;

// Fabrx Font Weight Variables
$font-weight-medium: 500;
$font-weight-100: 100;
