<template>
  <footer class="footer-container">
    <div class="top-footer container-fluid">
      <div class="top-footer-container row align-items-start">
        <div
          v-for="(foo, i) in footer"
          :key="i"
          :class="{ 'col col-auto mr-auto': true, 'ml-4': i === 0 }"
        >
          <a class="footer-header" :class="{ disabled: !foo.link }"
            >{{ foo.header
            }}<span
              class="soon"
              v-if="!foo.link && !(foo.header == 'Decentralized')"
              >SOON</span
            ><span class="soon" v-if="foo.header == 'Decentralized'"
              >UPDATE IN V0.3</span
            ></a
          >
          <div class="footer-header-spacing"></div>
          <div v-for="sub in foo.subs" :key="sub.name">
            <div class="sub-sec" @click="scrollTo(foo.link, sub.link)">
              <ext-link
                v-if="typeof sub.link === 'object' && sub.link.hasOwnProperty('link')"
                :linkProps="sub.link"
                >{{ sub.name
                }}<span class="soon" v-if="sub.name == 'Liquidity Providers'"
                  >UPDATE IN V0.3</span
                ></ext-link
              >

              <span
                v-else
                :class="{ disabled: !sub.link }"
              >
                {{ sub.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-footer container-fluid">
      <div class="lower-footer-container row align-items-center">
        <div class="company-right col col-auto mr-auto">
          <span
            >THORChain - Everyone can participate, no one can manipulate. Built by community. Join our <ext-link :linkProps="$links('footer_telegram_feedback_channel')">feedback channel</ext-link> for comments.</span
          >
        </div>
        <div style="position: relative" class="col col-auto select">
          <select class="form-control" name="language" id="language">
            <option v-for="lan in languages" :key="lan.val" :value="lan.val">
              {{ lan.label }}
            </option>
          </select>
          <svg
            class="svg-arrow"
            data-name="Icon/Arrows/Chevron/Down"
            xmlns="http://www.w3.org/2000/svg"
            width="24.091"
            height="24"
            viewBox="0 0 24.091 24"
          >
            <path
              data-name="Icon Color"
              d="M-2.182,24,0,21.818-9.818,12,0,2.182-2.182,0l-12,12Z"
              transform="translate(0.091 4.909) rotate(-90)"
            />
          </svg>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import ExtLink from '../page-components/ExtLink.vue';
import smoothscroll from 'smoothscroll-polyfill';

export default {
  components: { ExtLink },
  methods: {
    scrollTo(page, selector) {
      if(!selector)
          return
      if (window && document.getElementById(selector)) { 
        // smoothscroll.polyfill();
        // document.getElementById(selector).scrollIntoView({ 
        //     behavior: 'smooth' 
        // });
        let offset = document.getElementById(selector).offsetTop;
        window.scroll({
            top: offset, 
            left: 0, 
            behavior: 'smooth'
        });
      }
      
      
      this.$router.push({ path: page, hash: selector})
    }
  },
  data() {
    return {
      footer: [
        {
          header: "Technology",
          link: "/technology",
          subs: [
            {
              name: "How does it work?",
              link: this.$links("scrollTo.technology")[0],
            },
            {
              name: "How does it compare?",
              link: this.$links("scrollTo.technology")[1],
            },
            {
              name: "Has it been audited?",
              link: this.$links("scrollTo.technology")[2],
            },
            {
              name: "How active is it?",
              link: this.$links("scrollTo.technology")[3],
            },
          ],
        },
        {
          header: "Economics",
          subs: [
            {
              name: "What are the incentives?",
              link: this.$links("footer_docs_incentive_pendulum"),
            },
            { name: "What are the fees?", link: this.$links("footer_docs_fees") },
            {
              name: "Are there limit-order books?",
              link: this.$links("footer_docs_clp"),
            },
            { name: "Is it foolproof?" },
            { name: "Is it a price oracle?", link: this.$links("footer_docs_prices") },
            { name: "How is it governed?", link: this.$links("footer_docs_governance") },
          ],
        },
        {
          header: "RUNE",
          link: "/rune",
          subs: [
            { name: "What does it do?", link: this.$links("scrollTo.rune")[0] },
            {
              name: "How many will exist?",
              link: this.$links("scrollTo.rune")[1],
            },
            {
              name: "What influences it?",
              link: this.$links("scrollTo.rune")[2],
            },
            {
              name: "Where do I get it?",
              link: this.$links("scrollTo.rune")[3],
            },
            { name: "How do I use it?", link: this.$links("scrollTo.rune")[4] },
          ],
        },
        {
          header: "Decentralized",
          subs: [
            { name: "Is it trustless?" },
            { name: "Is it safe?" },
            { name: "Is it permissionless?" },
            { name: "What’s being improved?" },
            { name: "TestNet vs. ChaosNet" },
          ],
        },
        {
          header: "Roles",
          subs: [
            {
              name: "Liquidity Providers",
              link: this.$links("footer_medium_liquidity_pooling"),
            },
            { name: "Node Operators" },
            { name: "Arbitrageurs" },
          ],
        },
        {
          header: "Ecosystem",
          subs: [
            { name: "ASGARD Wallet" },
            { name: "BEPSwap" },
            { name: "Tools" },
            { name: "Labs" },
          ],
        },
        {
          header: "Community",
          subs: [
            { name: "Partners" },
            { name: "Developers" },
            { name: "Analysts" },
            { name: "Creatives" },
            { name: "Social" },
          ],
        },
      ],
      languages: [{ label: "English", value: "en" }],
    };
  },
};
</script>

<style lang="scss" scoped>
.footer-container {
  border-top: 0.0625rem solid #15242e;
  margin: auto;
}

.top-footer-container {
  margin: 4.625rem auto;
  padding: 0rem 3.125rem ;
  box-sizing: content-box;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .footer-header {
    color: #fff;
    font-family: "Roboto";
    padding-bottom: 0.625rem ;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem ;
    line-height: 1.5rem ;
    position: relative;
    &.disabled {
      color: #1b2a34;
      pointer-events: none;
      cursor: default;
      &:hover {
        color: #4b5261;
      }
    }
  }
  .footer-header-spacing {
    height: 0.625rem ;
  }

  .sub-sec {
    cursor: pointer;
    font: "Roboto";
    color: #4f5667;
    padding-bottom: 0.5rem ;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem ;
    line-height: 1.5rem ;
    position: relative;
    &:hover {
      color: #20cab8;
      transition: all 1ms;
    }
    .disabled {
      pointer-events: none;
      color: #1b2a34;
      cursor: default;
      &:hover {
        color: #4b5261;
        background-color: #02121d;
        box-shadow: 0px 1px black;
      }
    }
    a{
      color: #4f5667;
      &:hover {
      color: #20cab8;
      transition: all 1ms;
    }
    }
  }
  .soon {
    position: absolute;
    font-weight: 300;
    font-size: 0.6em;
    right: 0.0625rem ;
    top: -0.875rem ;
    color: #f3ba2f;
  }
}

.lower-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem ;
  line-height: 1.5rem ;
  margin: 0rem auto;
  width: 100%;
  height: 4.1875rem ;
  // padding: 0.6875rem 1.25rem 0.875rem 1.25rem ;
  color: #4f5667;
  background-color: #000b12;
  border-top: 0.0625rem solid #15242e;

  .lower-footer-container {
    margin: 0rem auto;
    height: 100%;

    .company-left {
      padding: 0.625rem 0 0.625rem 0;
    }

    #language {
      font-weight: bold;
      font-size: 0.85em;
      position: relative;
      width: 6.25rem ;
      border: 1px solid #4f5667;
      border-radius: 0.375rem ;
      color: inherit;
      background-color: transparent;
      padding: 0rem 1.437rem 0 1.25rem;
      height: 2.0625rem ;
    }

    .svg-arrow {
      display: inline-block;
      position: absolute;
      fill: #4f5667;
      top: 0.25rem ;
      right: 1.25rem ;
      width: 0.875rem ;
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #23DCC8;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 62rem ) {
  .top-footer-container {
    width: 85.625rem ;
  }

  .lower-footer-container {
    width: 83.125rem ;
  }
}
</style>