<template>
  <div class="menu-content-sized-container">
    <FeatureCards />
    <div class="card-spacing"></div>
    <div class="row">
      <div class="home-card version-card">
        <div class="version-number">
          {{ $t("homePage.versionCard.num") }} <br />
        </div>
        <div class="version-text">
          {{ $t("homePage.versionCard.text")[0] }} <br />
          {{ $t("homePage.versionCard.text")[1] }}
        </div>
        <div class="version-btns">
          <div class="card-btn">
            <ext-link :linkProps="$links('medium_v02')">
              {{ $t("homePage.versionCard.buttons")[0] }}
            </ext-link>
          </div>
        </div>
      </div>
      <!-- <div class="home-card news-card">
        <div class="news-emojies">⚡ 🍣</div>
        <div class="news-text">
          {{ $t("homePage.newsCard.sushi.text")[0] }}<br />{{
            $t("homePage.newsCard.sushi.text")[1]
          }}
        </div>
        <div class="news-btns">
          <div class="card-btn">
            <ext-link :linkProps="$links('runebridge')">
            {{ $t("homePage.newsCard.sushi.buttons")[0] }}
            </ext-link>
            <ext-link :linkProps="$links('runebridge_pools')">
            {{ $t("homePage.newsCard.sushi.buttons")[1] }}
            </ext-link>
          </div>
        </div>
      </div> -->
      <div class="home-card news-card interfaces-card">
        <div class="row">
          <div class="col">
              <div class="interfaces-card-text">
                {{ $t("homePage.interfacesCard.text")}}
              </div>
          </div>
          <div class="col">
              <div class="card-btn">
                <ext-link :linkProps="$links('skip_web')">
                {{ $t("homePage.interfacesCard.links")[0] }}
                <!-- <div class="tag">NEW</div> -->
                </ext-link>
                <ext-link :linkProps="$links('asgardex_electron')">
                {{ $t("homePage.interfacesCard.links")[1] }}
                </ext-link>
                <ext-link :linkProps="$links('asgardex_web')">
                {{ $t("homePage.interfacesCard.links")[2] }}
                </ext-link>
                <ext-link :linkProps="$links('thorswap_web')">
                {{ $t("homePage.interfacesCard.links")[3] }}
                </ext-link>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="butsir-intro-card">
        <img
          src="~/assets/images/home/person-surfing.svg"
          alt="thorchain but sir"
        />
        <div class="butsir-content">
          <div class="butsir-heading">
            {{ $t("homePage.butsirIntro.heading") }}
          </div>
          <div class="butsir-text">
            {{ $t("homePage.butsirIntro.text")[0] }} <br />
            {{ $t("homePage.butsirIntro.text")[1] }} <br />
            {{ $t("homePage.butsirIntro.text")[2] }}
          </div>
        </div>
      </div>
    </div>
    <div class="row rune-section">
      <div class="col">
        <div class="home-card circulating-supply-card">
          <div class="supply-percent">
            <span>{{runeLocked}}<span>% SCCN</span></span>
            <br>
            <span>{{MCCN.runeLocked}}<span>% MCCN</span></span>  
          </div>
          <div class="supply-text">
            {{ $t("homePage.circulatingSupplyCard.text")[0] }} <br />
            {{ $t("homePage.circulatingSupplyCard.text")[1] }}
          </div>
          <div class="card-btn">
            <NuxtLink :to="localePath('/rune#what-influences-it')">
              {{ $t("homePage.circulatingSupplyCard.btn") }}
            </NuxtLink>
          </div>
        </div>
        <div class="home-card all-tvl-card">
          <div class="all-tvl-title">
            <span>{{ $t("homePage.allTVLCard.title")[0] }}</span
            ><span>{{ $t("homePage.allTVLCard.title")[1] }}</span>
          </div>
          <div class="card-text">
            {{ $t("homePage.allTVLCard.text")[0] }}<br />
            {{ $t("homePage.allTVLCard.text")[1] }}
          </div>
          <div class="card-btn">
            <ext-link :linkProps="$links('thorchain_community')">
              {{ $t("homePage.allTVLCard.btn") }}
            </ext-link>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-card rune-me-card">
          <div class="row">
            <div class="rune-me-title">
              {{ $t("homePage.runeMeCard.title") }}
            </div>
            <div class="card-text">
              {{ $t("homePage.runeMeCard.text")[0] }} <br />
              {{ $t("homePage.runeMeCard.text")[1] }}
            </div>
            <div class="card-btn">
              <NuxtLink :to="localePath('/rune')">
                {{ $t("homePage.runeMeCard.btn") }}
              </NuxtLink>
            </div>
          </div>
            <CoingeckoTable
              class="markets-table"
              :columns="{
                exchange: true,
                pair: true,
                price: true,
                volume24h: true,
              }"
              :nFormat="true"
              :rowCount="9"
              :tableSecondaryStyle="true"
            />
        </div>
      </div>
    </div>
    <div class="row tweets-section">
      <div class="col">
        <div class="home-card">
          <Tweet
          :userImg="require('~/assets/images/home/twitter-mehowbrains.png')"
          userName="MehowBrains⚡"
          :userNameLink="$links('twitter_mehowbrains')"
          userId="@mehowbrains"
          date="Jan 7"
          text="Liquidity Providers on @THORChain_org seem more than happy to pool their native assets into the Decentralized Liquidity in exchange for yield 🤑

See the referenced tweets below for proof."
          :card="require('~/assets/images/home/tweet-mehow-meme.png')"
          :followLink="$links('twitter_show_this_thread')"
          />
          <div class="apy">
            {{lpAPY}}<span>% APY SCCN</span>
            <br>
            {{MCCN.lpAPY}}<span>% APY MCCN</span>
          </div>
          <div class="card-btn">
            <ext-link :linkProps="$links('medium_liquidity_pooling')">{{ $t("homePage.apyCard.lpAPYBtn") }}</ext-link>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-card">
          <Tweet
          :userImg="require('~/assets/images/home/twitter-rune-ranger.jpg')"
          userName="RUNE Ranger 🔨"
          :userNameLink="$links('twitter_theruneranger')"
          userId="@TheRUNERange"
          :date="nodeTweetDate"
          :text="nodeTweetText"
          :card="require('~/assets/images/home/tweet-rune-ranger-meme.png')"
          followText="Show this Tweet"
          :followLink="$links('twitter_show_this_tweet')"
          />
          <div class="apy">
            {{nodesAPY}}<span>% APY SCCN</span>
            <br>
            {{MCCN.nodesAPY}}<span>% APY MCCN</span>
          </div>
          <div class="card-btn">
            <ext-link :linkProps="$links('docs_node_operations')">{{ $t("homePage.apyCard.nodeAPYBtn") }}</ext-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row node-stat">
      <div class="col active">
        <div class="head">
          {{activeNodeCount}}<span> {{ $t("homePage.nodeStatsCard.active.head") }} SCCN</span>
          <br>
          {{MCCN.activeNodeCount}}<span> {{ $t("homePage.nodeStatsCard.active.head") }} MCCN</span>
        </div>
        <div class="card-text">
          {{ $t("homePage.nodeStatsCard.active.text")[0] }} <br>
          {{ $t("homePage.nodeStatsCard.active.text")[1] }}
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('twitter_scale_nodes')">{{$t("homePage.nodeStatsCard.active.btn") }}</ext-link>
          </div>
      </div>
      <div class="col standby">
        <div class="head">
          {{standbyNodeCount}}<span> {{ $t("homePage.nodeStatsCard.standby.head") }} SCCN</span>
          <br>
          {{MCCN.standbyNodeCount}}<span> {{ $t("homePage.nodeStatsCard.standby.head") }} MCCN</span>
          </div>
        <div class="card-text">
          {{ $t("homePage.nodeStatsCard.standby.text")[0] }} <br>
          {{ $t("homePage.nodeStatsCard.standby.text")[1] }}
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('delphi_node_dashboard')">{{$t("homePage.nodeStatsCard.standby.btn") }}</ext-link>
        </div>
      </div>
    </div> 
    <div class="row solvency-card">
      <div class="col">
        <div class="title">
          {{$t("homePage.solvencyCard.title")[0]}}
          <br>
          {{$t("homePage.solvencyCard.title")[1]}}
        </div>
        <div class="card-text">
          {{$t("homePage.solvencyCard.text")[0]}}
          <br>
          {{$t("homePage.solvencyCard.text")[1]}}
        </div>
        <div class="line"></div>
        <div class="footer">
          {{$t("homePage.solvencyCard.footer")}}
        </div>
      </div>
      <div class="col">
        <div class="metrics">
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[0]}}
            <span>
              ${{totalCapitalUsd}}.00 SCCN
              <br>
              ${{MCCN.totalCapitalUsd}}.00 MCCN
            </span>
          </div>
          <div class="line"></div>
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[1]}}
            <span>
              ${{totalBondedUsd}}.00 SCCN
              <br>  
              ${{MCCN.totalBondedUsd}}.00 MCCN
            </span>
          </div>
          <div class="line"></div>
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[2]}}
            <span>
              ${{totalPooledUsd}}.00 SCCN
              <br>  
              ${{MCCN.totalPooledUsd}}.00 MCCN
            </span>
          </div>
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('viewblock_vaults')">{{$t("homePage.solvencyCard.btns")[0]}}</ext-link>
          <ext-link :linkProps="$links('viewblock_validators')">{{$t("homePage.solvencyCard.btns")[2]}}</ext-link>
          <ext-link :linkProps="$links('viewblock_pools')">{{$t("homePage.solvencyCard.btns")[1]}}</ext-link>
        </div>
      </div>
    </div>
    <div class="row indicators-card">
      <div class="col">
        <div class="metric">
          <div class="metric-key">
            {{$t("homePage.indicatorsCard.metrics")[0]}}
          </div>
          <div class="metric-value">
              ${{volume24h}} SCCN
              <br>
              ${{MCCN.volume24h}} MCCN
          </div>
        </div>
        <div class="metric">
          <div class="metric-key">
            {{$t("homePage.indicatorsCard.metrics")[1]}}
          </div>
          <div class="metric-value">
            {{tx24h}} SCCN
            <br>
            {{MCCN.tx24h}} MCCN
          </div>
        </div>
        <div class="metric">
          <div class="metric-key">
            {{$t("homePage.indicatorsCard.metrics")[2]}}
          </div>
          <div class="metric-value">
            {{users24h}} SCCN
            <br>  
            {{MCCN.users24h}} MCCN
          </div>
        </div>
      </div>
      <div class="col">
        <div class="title">
          {{$t("homePage.indicatorsCard.title")[0]}} <br>
          {{$t("homePage.indicatorsCard.title")[1]}}
        </div>
        <div class="card-text">
          {{$t("homePage.indicatorsCard.text")[0]}} <br>
          {{$t("homePage.indicatorsCard.text")[1]}}
        </div>
        <div class="card-btn">
          <span class="border-wrap">
            <ext-link :linkProps="$links('thorchain_net_stats')">{{$t("homePage.indicatorsCard.btn")}}</ext-link>
          </span>
          <span class="footer">
            {{$t("homePage.indicatorsCard.footer")}}
          </span>
        </div>
      </div>
    </div>
    <div class="tools-table">
      <div class="row tools-table-header">
        <div class="col">
          <div class="title">
          {{$t("homePage.toolsTableCard.title")[0]}}
          <br>
          <span>{{$t("homePage.toolsTableCard.title")[1]}}</span>
          </div>
          <div class="card-text">
          {{$t("homePage.toolsTableCard.text")[0]}} <br>
          {{$t("homePage.toolsTableCard.text")[1]}}
          </div>
          <div class="card-btn" style="margin-left: -2rem ;">
            <ext-link :linkProps="$links('docs_connecting_thorchain')">
          {{$t("homePage.toolsTableCard.btns")[0]}}
            </ext-link>
            <ext-link :linkProps="$links('twitter_treasury_funding')">
          {{$t("homePage.toolsTableCard.btns")[1]}}
            </ext-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="table-wrapper">

      <table class="table">
        <thead class="fading-color" style="border-bottom: 0.0625rem solid #15242e;">
        <tr>
          <th>{{$t("homePage.toolsTableCard.ths")[0]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[1]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[2]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[3]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[4]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[5]}}</th>
        </tr>
        </thead>
         <tbody>
          <tr v-for="record in toolsTable">
            <td>{{record.category}}</td>
            <td>
              <ext-link v-if="record.link" :linkProps="record.link">
                {{record.name}}
              </ext-link>
              <span v-else>{{record.name}}</span>
            </td>
            <td>{{record.utility}}</td>
            <td>
              <ext-link v-if="record.repo_url" :linkProps="record.repo_url">
                {{record.repo}}
              </ext-link>
              <span v-else>{{record.repo}}</span>
            </td>
            <td>{{record.owner}}</td>
            <td>
              <ext-link class="telegram-icon" v-if="record.telegram_url"
              :linkProps="record.telegram_url">
              </ext-link>
              <ext-link class="github-icon"  v-if="record.github_url" 
              :linkProps="record.github_url">
              </ext-link>
              <ext-link class="gitlab-icon"  v-if="record.gitlab_url" 
              :linkProps="record.gitlab_url">
              </ext-link>
              <ext-link  class="twitter-icon" v-if="record.twitter_url" 
              :linkProps="record.twitter_url">
              </ext-link>
            </td>
          </tr>
         </tbody>
      </table>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>
<style src="./style.scss" lang="scss" scoped></style>