<template>
  <div class="bottom-border" style="max-width: 25.875rem; margin: 0rem auto">
    <StoryScreen />
    <div
      v-swiper="swiperOption"
      class="w-5/6 ml-auto relative"
      :loadtheme="false"
    >
      <div class="swiper-wrapper ">
        <div
          v-for="(slide, i) of slides"
          :key="i"
          class="story-card swiper-slide"
          @click="activate(i)"
        >
          <div>
            <img class="card-img" :src="slide.card" alt="" />
          </div>
          <div>
            <img class="avatar" :src="slide.avatar" alt="" />
          </div>
          <div :style="slide.textStyle" class="card-text">
            {{ slide.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "~/helpers/EventBus.js";
import StoryScreen from "./StoryScreen.vue";
export default {
  name: "StoryCarousel",
  data() {
    return {
      slides: [
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_skip.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_skip.svg"),
          text: "New\nTHORChain\nDEX named\nSKIP",
        },
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_thorswap.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_thorname.png"),
          text: "Register\nyour\nTHORName\ntoday!",
        },
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_xdefi.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_xdefi.png"),
          text: "XDEFI Wallet\nSupports\nNative\nTHOR.RUNE",
        },
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_thorchain_mccn.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_thorchain_mccn.png"),
          text: "MCCN Shipped",
          // textStyle: "background: black; line-height: 0.4rem; margin-bottom: 0.3rem; padding-bottom:0.5rem; border-radius: 2px",
        },
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_shapeshift.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_shapeshift.png"),
          text: "ShapeShift\nIntegrates",
        },
        {
          avatar: require("~/assets/images/home-page/stories/small/small_avatar_multicoin_capital.svg"),
          card: require("~/assets/images/home-page/stories/small/small_card_multicoin_capital.png"),
          text: "Multicoin Cap\nAnalysis",
        },
      ],
      swiperOption: {
        slidesPerView: 3.5,
        slidesPerGroup: 3,
        loop: false,
        slidesOffsetBefore: 20,
        // slidesOffsetAfter: 20,
        loopFillGroupWithBlank: false,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          768: {
            slidesPerView: 3.1,
            spaceBetween: 10,
            slidesPerGroup: 1,
          },
          700: {
            slidesPerView: 3.1,
            spaceBetween: 10,
            slidesPerGroup: 1,
          },
          640: {
            slidesPerView: 3.2,
            spaceBetween: -15,
            slidesPerGroup: 1,
          },
          540: {
            slidesPerView: 3.2,
            spaceBetween: -35,
            slidesPerGroup: 1,
          },

          500: {
            slidesPerView: 3.2,
            spaceBetween: -40,
            slidesPerGroup: 1,
          },
          450: {
            slidesPerView: 3.5,
            spaceBetween: 0,
            slidesPerGroup: 1,
          },
          400: {
            slidesPerView: 3.2,
            spaceBetween: -50,
            slidesPerGroup: 1,
          },
          370: {
            slidesPerView: 2.8,
            spaceBetween: -60,
            slidesPerGroup: 1,
          },
          360: {
            slidesPerView: 2.3,
            slidesPerGroup: 1,
            spaceBetween: -100,
          },
          300: {
            slidesPerView: 2.4,
            spaceBetween: -50,
            slidesPerGroup: 1,
          },
        },
      },
    };
  },
  components: {
    StoryScreen,
  },
  mounted() {},
  methods: {
    activate(story) {
      EventBus.$emit("ACTIVATE_STORY", story);
    },
  },
};
</script>

<style lang="scss">
.bottom-border {
  border-bottom: 0.0625rem solid #15252e;
  padding-bottom: 15px;
}
.story-card {
  position: relative;
  //   height: 200px;
  width: auto;
  margin-left: 10px;
  .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    width: 36px;
    height: 36px;
  }
  .card-img {
    height: 200px;
    width: auto;
  }
  .card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    color: #fff;
    bottom: 7px;
    left: 7px;
    padding: 3px;
    width: auto;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.582359);
    letter-spacing: -0.163333px;
    white-space: pre-line;
  }
}
</style>