<template>
  <div class="footer-container">
    <div class="footer-nav">
      <div class="footer-nav-left">  
        <div class="footer-nav-item">
          <div  @click="homeBtnClicked" class="item-content" :class="{'item-content-selected': isHomePageActive}">
            <img v-if="!isHomePageActive" src="~/assets/images/nav/return.svg" alt="Thorchain Home" />
            <img v-else src="~/assets/images/nav/return-selected.svg" alt="THORChain Home" />
            <div>Home</div>
          </div>
        </div>
        <div class="footer-nav-item">
          <div  @click="videoBtnClicked" class="item-content">
            <img v-if="!isVideoPageActive" src="~/assets/images/nav/videos.svg" alt="Thorchain Home" />
            <img v-else src="~/assets/images/nav/videos-selected.svg" alt="THORChain Home" />
            <div>Videos</div>
          </div>
        </div>
      </div>
      <div class="footer-nav-middle">
        <div
        class="footer-nav-item nav-item-menu-btn"
        role="button"
        @click="$store.dispatch('nav/toggleSidebar')"
        >
          <img
            v-if="!loadingMode"
            :style="menuButton"
            src="~/assets/images/nav/thorchain-circle.svg"
            alt=""
          />
          <DoubleBounce background="#23DCC8" v-else/>
        </div>
      </div>
      <div class="footer-nav-right">
        <ExtLink :linkProps="$links('opensea_thorchain_collectibles_nfts')" class="footer-nav-item">
          <div class="item-content">
            <img src="~/assets/images/nav/nfts.svg" alt="THORChain NFT's" />
            <div>NFT's</div>
          </div>
        </ExtLink>
        <ExtLink :linkProps="$links('nav_discord_lp_university')" class="footer-nav-item">
          <div class="item-content">
            <img src="~/assets/images/nav/pool.svg" alt="THORChain Pools" />
            <div>Pool</div>
          </div>
        </ExtLink>
      </div>
    </div>
  </div>
</template>

<script>
import ExtLink from "../../../components/page-components/ExtLink"
import smoothscroll from 'smoothscroll-polyfill';
import {DoubleBounce} from 'vue-loading-spinner'
export default {
  components:{
    ExtLink,
    DoubleBounce
  },
  data(){
    return {
      isHomePageActive: this.$route.path == "/",
      isVideoPageActive: this.$route.path == "/videos"
    }
  },
  methods:{
    hideSidebar() {
      this.$store.dispatch("nav/toggleSidebar");
    },
    homeBtnClicked(){
      if(this.$route.path == "/"){
        if(this.isSidebar){
          this.hideSidebar()    
        } else
          this.goToTop()
      } 
      else{
        this.$router.push(this.localePath("/"))
        this.isHomePageActive = true
        this.$store.commit('loadingMode', true)
      }
    },
    videoBtnClicked(){

      if(this.$route.path == "/videos"){
        if(this.isSidebar){
          this.hideSidebar()    
        } else
          this.goToTop()
      } 
      else{
        this.$router.push(this.localePath("/videos"))
        this.isVideoPageActive = true
        this.$store.commit('loadingMode', true) 
      }
    },
    goToTop() {
      window.scrollTo({top: 0, behavior: 'smooth'});
      // document.body.scrollTop = 0;
      // document.documentElement.scrollTop = 0;
    }
  },
  beforeMount(){
    smoothscroll.polyfill();
  },
  computed: {
    menuButton() {
      if (!this.$store.getters["nav/toggleSidebar"]) {
        return {
          position: "absolute",
          top: "-1.2rem",
          height: "4.68rem",
        };
      }
      return {
        position: "absolute",
        height: "50px",
      };
    },
    isSidebar() {
      return this.$store.getters["nav/toggleSidebar"];
    },
    loadingMode(){
      console.log("loadingMode: " + this.$store.getters['loadingMode'])
      
      return this.$store.getters['loadingMode']
    } 
  },
  watch:{
    $route(to, from) {
      this.isHomePageActive= this.$route.path == "/"
      this.isVideoPageActive= this.$route.path == "/videos"

    },
    isSidebar(newValue, oldValue){
      if(newValue === true){
        this.isHomePageActive = false;
        this.isVideoPageActive = false;
      }
      else if(this.$route.path == "/") 
        this.isHomePageActive = true;
      else if(this.$route.path == "/videos") 
        this.isVideoPageActive = true;
    }
  }
};
</script>

<style lang="scss">
.footer-container {
  // border: 0.0625rem solid red;
  height: 3.81rem;
  z-index: 20000;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #000b12;
  border-top: 0.0625rem solid #15252e;
  .footer-nav {
    display: flex;
    height: 100%;
    .footer-nav-item {
      flex-grow: 1;
      // border: 0.0625rem solid green;
      display: flex;
      align-items: center;
      justify-content: center;
      .item-content {
        // border: 0.0625rem solid blue;
        width: fit-content;
        display: flex;
        flex-direction: column;
        color: #D1D5DA;
        img {
          height: 1.5625rem ;
          margin-bottom: 0.1875rem ;
        }
        &.item-content-selected{
          color: #23DCC8;
        }
      }

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.6875rem ;
      line-height: 0.75rem ;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0rem ;
      color: #d1d5da;
    }

    .footer-nav-left, .footer-nav-right, .footer-nav-middle{
      display: flex;
    }
    .footer-nav-left, .footer-nav-right{
      min-width: 40%;
      max-width: 40%;
    }
    .footer-nav-middle{
      max-width: 20%;
      min-width: 20%;
    }
  }
}
</style>