<template>
  <div class="chart-technical">
    <chart :options="chartOptions" />
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from 'highcharts';
import utils from '../../utils'

export default {
  components: {
    chart: Chart,
  },
  data() {
    return {
      stakesValues: [],
      chartOptions: {
        
        chart: {
          type: "areaspline",
          backgroundColor: "transparent",
          width: 800,
          spacingTop: 0,
          spacingRight: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          margin: 0,
        },
        title: { 
          text: "",
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          lineColor: "transparent",
          categories: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          labels: {
            enabled: false,
            style: {
              color: "#4B5261",
              fontSize: "12px",
              fontFamily: "'Roboto', sans-serif",
            },
          },
        },
        yAxis: {
          gridLineColor: "transparent",
          lineColor: "transparent",
          title: {
            text: "",
          },
          labels: {
            enabled: false,
          },
        },
        legend: {
          enabled: false,
          itemStyle: {
            color: "#4B5261",
            fontSize: "12px",
            fontWeight: "normal",
            fontFamily: "'Roboto', sans-serif",
          },
          itemHoverStyle: {
            color: "#4B5261",
          },
          margin: 30,
          padding: 0,
          symbolWidth: 9,
          symbolHeight: 9,
          itemDistance: 30,
          symbolPadding: 10,
          
        },
        time: {
          useUTC: false,
        },
        accessibility: {
          announceNewData: {
            enabled: true,
            minAnnounceInterval: 2500,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
              if (newPoint) {
                return "New point added. Value: " + newPoint.y;
              }
              return false;
            },
          },
        },
        tooltip: {
          valueSuffix: "$"
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: false,
            },
          },
        },
        series: [ 
          {
            lineColor: "#02121d",
            color: "#02121d",
            fillColor: "#02121d",
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "STAKES",
            data: (function () {
              var data = [1,2,3,6,7,5,3]
              return data;
            })(),
          },
        ],
      },
    };
  },
  async fetch() {
    var date = new Date();
    var now = date.getTime();
    now = parseInt(now / 1000);
    var fewDaysAgo = now - 30 * 24 * 3600;
    var {data, usdData} = await this.$services.getHistoricalVolume(fewDaysAgo, now)
    // parse data into chart format
    var dates = [];
    var volumes = [];
    var prices = [];
    var volumesInUsd = [];
    for (var i in data) {
      var record = data[i]
      var recordDate = new Date(parseInt(record.time) * 1000)
      var datestr = recordDate.toLocaleString('default', { month: 'short', day: 'numeric' });
      dates.push(datestr)

      var totalVolume = parseInt(record.totalVolume  / 100000000)
      volumes.push(totalVolume)
      var usdPrice = 1 / usdData[i].price
      prices.push(usdPrice)
      var volumeInUsd = parseInt(totalVolume * usdPrice)
      volumesInUsd.push(volumeInUsd)

    }
    this.chartOptions.xAxis.categories = dates
    this.chartOptions.series[0].data = volumesInUsd
    // this.chartOptions.series[1].data = prices

    
  },
  mounted(){
    Highcharts.setOptions({
    lang: {
          thousandsSep: ','
          },
    })
  }
};
</script>

<style lang="scss" scoped>
</style>